html, body{
    height: 100%;
}

a, a:hover, a:visited{
    text-decoration: none;
}

.resi-main-container{
    height: 100%;
}

.resi-left-container{
    min-height: 100%;
    width: 250px;
}

.resi-sidebar-header{
    padding: 15px;
    text-align: center;
}

.resi-sidebar-header a{
    color: #f9f8fa;
    font-size: 24px;
}

.resi-sidebar-header i.fas,
.resi-sidebar-header i.far,
.resi-sidebar-header i.fa{
    width: 40px;
}

.resi-sidebar-menu{
    margin-top: 30px;
}

.resi-sidebar-menu li.active{
    background: #24282c;
}

.resi-sidebar-menu a{
    color: #f9f8fa;
    font-size: 14px;
}

.resi-sidebar-menu i.fas,
.resi-sidebar-menu i.far,
.resi-sidebar-menu i.fa{
    width: 30px;
}

.resi-sidebar-menu span.fas,
.resi-sidebar-menu span.far,
.resi-sidebar-menu span.fa{
    float: right;
    font-size: 10px;
    margin-top: 10px;
}

.resi-child{
    background: #484d53;
}

.resi-child li{
    position: relative;
}

.resi-child li:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2e3439;
    margin-top: 8px;
    left: 20px;
    border-radius: 50%;
}

.resi-child li:after{
    content: "";
    position: absolute;
    background: #2e3439;
    width: 1px;
    top: 0;
    left: 24px;
    bottom: 0;
}

.resi-child a{
    display: block;
    padding: 5px 0 5px 50px;
    font-size: 12px;
}

.resi-child a:hover,
.resi-child a:visited{
    background: #5c6166;
}

.resi-sidebar-footer{
    background: #1a1d20;
    position: fixed;
    bottom: 0;
    width: 250px;
}

.resi-sidebar-footer a{
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: #5c6166;
}

.resi-sidebar-footer a:hover,
.resi-sidebar-footer a:visited{
    background: #2e3439
}
