html, body{
    height: 100%;
    background: #f8f9fa;
}

a, a:hover, a:visited{
    text-decoration: none;
    cursor: pointer;
}

.resi-main-container{
    height: 100%;
}

.resi-left-container{
    min-height: 100%;
    width: 250px;
    background: #f9f8fa;
    float: left;
    box-shadow: 8px 0px 5px -3px rgba(0,0,0,0.22);
}

.resi-left-container.hide{
    display: none;
}

.resi-sidebar-header{
    padding: 13px;
    box-shadow: 0px 2px 5px -1px rgba(7,132,158,0.23);
}

.resi-sidebar-header a{
    font-size: 20px;
    color: #067188;
}

.resi-sidebar-header p{
    margin: 0 !important;
    display: inline-block;
}

.resi-sidebar-header i.fas,
.resi-sidebar-header i.far,
.resi-sidebar-header i.fa{
    width: 30px;
}

.resi-sidebar-menu{
    margin-top: 30px;
}

.resi-sidebar-menu li.active{
    border-top: 1px solid #f9f8fa; 
    background: #09aacc;
    color: #f9f8fa;
}

.resi-sidebar-menu li.active>a{
    color: #e6f8fc;
}

.resi-sidebar-menu a{
    color: #4a4a4b;
}

.resi-sidebar-menu p{
    display: inline-block;
    margin: 0;
}

.resi-sidebar-menu i.fas,
.resi-sidebar-menu i.far,
.resi-sidebar-menu i.fa{
    width: 30px;
}

.resi-sidebar-menu span.fas,
.resi-sidebar-menu span.far,
.resi-sidebar-menu span.fa{
    float: right;
    font-size: 10px;
    margin-top: 10px;
}

.resi-child{
    padding-top: 5px;
    background: #cef1f9;
    border: 1px solid #9de4f3;
    position: relative !important;
}

.resi-child li::before{
    content: "";
    height: 8px;
    width: 8px;
    background: #9de4f3;
    position: absolute;
    left: 24px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 9px; 
}

.resi-child li::after{
    content: "";
    top:0;
    width: 2px;
    left: 24px;
    height: 100%;
    background: #9de4f3;
    position: absolute !important;
}

.resi-child a{
    padding: 5px 0 5px 50px;
    display: block;
    font-size: 12px;
    font-weight: 500;
}


.resi-child a:hover,
.resi-child a:visited{
    background: #f8f9fa;
}

.resi-sidebar-footer{
    background: #044b5a;
    bottom: 0;
    position: fixed;
    width: 250px;
}

.resi-sidebar-footer a{
    padding: 5px;
    width: 25%;
    display: inline-block;
    color: #0897b5;
    text-align: center;
}

.resi-sidebar-footer a:hover,
.resi-sidebar-footer a:visited{
    background: #067188;
}

.resi-right-container{
    display: inline-block !important;
    width: calc(100% - 250px);
    border-left: 1px solid #dfe0e1;
    height: 100%;
}

.resi-right-container.expand{
    width: 100%;
}

.resi-page-content{
    padding: 15px;
}


.resi-navbar{
    box-shadow: 0px 7px 6px -3px rgba(223,224,225,1);
}


@media( max-width: 780px){

    .resi-left-container{
        width: 60px;
    }

    .resi-left-container i{
        text-align: center;
    }

    .resi-left-container p, .resi-left-container span{
        display: none;
    }

    .resi-sidebar-menu li.active{
        width: 60px;
        position: relative;
    }

    .resi-child{
        top: 0;
        left: 100%;
        width: 250px;
        position: absolute !important;
        border: 1px solid #9de4f3;
        border-top-left-radius: 0 !important;
        border-radius: 3%; 
    }

    .resi-child li{
        width: 250px;
    }

    .resi-right-container{
        width: calc(100% - 60px);
    }
    
    .resi-sidebar-footer{
        display: none;
    }
}