html, body{
    height: 100%;
}

a, a:hover, a:visited{
    text-decoration: none;
    cursor: pointer;
}

.resi-main-container{
    height: 100%;
}

.resi-left-container{
    min-height: 100%;
    width: 250px;
    border-right: 1px solid #dfe0e1;
    float: left;
}

.resi-left-container.hide{
    display: none;
}

.resi-left-container a{
    color: #343a40;
}

.resi-sidebar-header{
    padding: 15px;
}

.resi-sidebar-header a{
    font-size: 24px;
}

.resi-sidebar-header i.fas,
.resi-sidebar-header i.far,
.resi-sidebar-header i.fa{
    width: 30px;
}

.resi-sidebar-menu{
    margin-top: 30px;
}

.resi-sidebar-menu li.active{
    border-top: 1px solid #dfe0e1;
    border-bottom: 1px solid #dfe0e1;
}

.resi-sidebar-menu a{
    font-size: 14px;
    font-weight: 500;
}

.resi-sidebar-menu i.fas,
.resi-sidebar-menu i.far,
.resi-sidebar-menu i.fa{
    width: 30px;
}

.resi-sidebar-menu span.fas,
.resi-sidebar-menu span.far,
.resi-sidebar-menu span.fa{
    float: right;
    font-size: 10px;
    margin-top: 10px;
}

.resi-child{
    background: #dfe0e1;
    padding-top: 5px;
    position: relative;
}

.resi-child li::before{
    content: "";
    background: #adaeaf;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}

.resi-child li::after{
    content: "";
    height: 100%;
    border-left: 1px solid #adaeaf;
    position: absolute;
    left: 24px;
    top: 0;
}

.resi-child a{
    font-size: 12px;
    padding: 5px 0 5px 50px;
    display: block;
}

.resi-child a:hover,
.resi-child a:visited{
    background: #c6c7c8;
}

.resi-sidebar-footer{
    background: #141719;
    position: fixed;
    width: 250px;
    bottom: 0;
}

.resi-sidebar-footer a{
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: #85888c;
}

.resi-sidebar-footer a:hover,
.resi-sidebar-footer a:visited{
    background: #292e33;
}

.resi-navbar{
    background: #a1ccf7;
    border-bottom: 1px solid #c6c7c8;
}

.resi-page-content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}