<div class="resi-main-container">

  <!--Left Container-->
  <div class="resi-left-container bg-dark" id="iresi-left-container">
    <div class="resi-sidebar-header">
      <a href="#"><i class="fas fa-user-graduate"></i>Escuela Digital</a>
    </div>

    <!--Sidebar Menu-->
    <div class="resi-sidebar-menu" id="iresi-sidebar-menu">
      <ul class="nav flex-column">

        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-home"></i>Dashboard</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="collapse" data-target="#docentes" aria-expanded="false"><i
              class="fas fa-chalkboard-teacher"></i>Docentes <span class="fas fa-chevron-down"></span></a>
          <ul class="list-unstyled collapse resi-child" id="docentes">
            <li><a href="#">Ficha</a></li>
            <li><a href="#">Consulta</a></li>
            <li><a href="#">Horario</a></li>
            <li><a href="#">Ausencias</a></li>
            <li><a href="#">Evaluación</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="collapse" data-target="#alumnos" aria-expanded="false"><i
              class="fas fa-user-graduate"></i>Alumnos <span class="fas fa-chevron-down"></span></a>
          <ul class="list-unstyled collapse resi-child" id="alumnos">
            <li><a href="#">Ficha</a></li>
            <li><a href="#">Consulta</a></li>
            <li><a href="#">Horario</a></li>
            <li><a href="#">Asignación de Sección</a></li>
            <li><a href="#">Ausencias</a></li>
            <li><a href="#">Familias</a></li>
            <li><a href="#">Bitacora</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="collapse" data-target="#evaluacion" aria-expanded="false"><i
              class="far fa-edit"></i>Evaluación <span class="fas fa-chevron-down"></span></a>
          <ul class="list-unstyled collapse resi-child" id="evaluacion">
            <li><a href="#">Metodo de Evaluación</a></li>
            <li><a href="#">Registro</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="collapse" data-target="#economico" aria-expanded="false"><i
              class="fas fa-coins"></i>Economico <span class="fas fa-chevron-down"></span></a>
          <ul class="list-unstyled collapse resi-child" id="economico">
            <li><a href="#">Conceptos de Pago</a></li>
            <li><a href="#">Planes de Pago</a></li>
            <li><a href="#">Pago</a></li>
            <li><a href="#">Ingresos</a></li>
            <li><a href="#">Egresos</a></li>
            <li><a href="#">Resumen de Caja</a></li>
            <li><a href="#">Estado de Cuentas</a></li>
            <li><a href="#">Consulta de Documentos</a></li>
            <li><a href="#">Anulación de Documentos</a></li>
            <li><a href="#">Inventario</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link"><i class="far fa-file-pdf"></i>Reportes</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-users-cog"></i>Configuración</a>
        </li>

      </ul>
    </div>
    <div class="resi-sidebar-footer">
      <a href="#"><i class="fas fa-arrow-alt-circle-left"></i></a>
      <a href="#"><i class="fas fa-database"></i></a>
      <a href="#"><i class="fas fa-palette"></i></a>
      <a href="#"><i class="fas fa-sliders-h"></i></a>
    </div>
  </div>
  <div class="resi-right-container">
    <div class="resi-navbar"></div>
    <div class="resi-page-content"></div>
    <div class="resi-footer"></div>
  </div>
</div>

<router-outlet></router-outlet>